:root {
    --blue: #e2bb7d;
    --navy: #395f49;
    --aqua: #c9dee6;
}

/* Setting the main part of the page to flex and making them columns so they stack */
.main-container {
    display: flex;
    background-color: var(--navy);
    flex-direction: column;
    justify-content: center;
    margin: 1px;
}


/* I wanted the title and top of the page to grow and be 30% of the page
the justify content set everything to sit on top of eachother in columns. */
.title {
    flex: 1 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue);
    text-align: center;
    flex-direction: column;
}


.details {
    flex: 1 0 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--navy);
    ;
}

.details img:nth-child(1){
    flex: 1 0 80%;

}

.details img {
    flex: 1 0 45%;
    margin: 5px;
}

img {
    display: flex;
    width: 10%;
    border-radius: 50%;
}

/* I added this to make a different kind of title styles for different title */
.header-title {
    display: flex;
    justify-content: center;
}

/* Using a special class for the footer so I can change the background color but keeps its properties */
.footer-details {
    flex: 1 0 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--blue);
}

/* All the images stack on top of eachother and take up the entire width for screans smaller than 768px */
@media screen and (max-width: 768px) {

    img {
        width: 100%;
    }
}