:root {
    --blue: #e2bb7d;
    --navy: #395f49;
    --aqua: #c9dee6;
}

.main-container {
    display: flex;
    background-color: var(--navy);
    flex-direction: column;
    justify-content: center;
}

a {
    background-color: var(--aqua);
}
.title {
    flex: 1 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue);
    text-align: center;
    flex-direction: column;
}

.details {
    flex: 1 0 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--navy);
    ;
}

.details img:nth-child(1){
    flex: 1 0 80%;

}

.details img {
    flex: 1 0 45%;
    margin: 5px;
}

img {
    display: flex;
    width: 10%;
    border-radius: 50%;
}

/* I added this to  */
.header-title {
    display: flex;
    justify-content: center;
}

/* Using a special class for the footer so I can change the background color */
.footer-details {
    flex: 1 0 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--blue);
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    img {
        width: 100%;
    }
}